modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyAUrrAl9aZnWk4O_m5IGX8-aDDYaE6tjmc"
VITE_FIREBASE_AUTH_DOMAIN = "systembuilder-2febb.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "systembuilder-2febb"
VITE_FIREBASE_MESSAGING_SENDER_ID = "1010368150408"
VITE_FIREBASE_APP_ID = "1:1010368150408:web:d07da3147729d370bc183d"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51TBq28HXbRZah095ViZcnnpK6nnknjzWEuwoO70OiyGyB6g300MEpH6gJeDyVIfzKIRWZModmodcqEqqvrYFkHf1006C7GQGyP"
VITE_STRIPE_STARTER_MONTHLY_LINK = ""
VITE_STRIPE_STARTER_YEARLY_LINK = ""
VITE_STRIPE_PRO_MONTHLY_LINK = ""
VITE_STRIPE_PRO_YEARLY_LINK = ""
VITE_STRIPE_ELITE_MONTHLY_LINK = ""
VITE_STRIPE_ELITE_YEARLY_LINK = ""
VITE_STRIPE_CUSTOMER_PORTAL_URL = ""
VITE_STRIPE_STARTER_LINK = ""
VITE_STRIPE_PRO_LINK = ""
VITE_STRIPE_ELITE_LINK = ""
VITE_EMAILJS_TEMPLATE_ID = ""
VITE_FIREBASE_STORAGE_BUCKET = "systembuilder-2febb.firebasestorage.app"
VITE_CLOUDINARY_CLOUD_NAME = "de2wrwg6e"
VITE_CLOUDINARY_UPLOAD_PRESET = "FutureSelfAudio"

[agent]
expertMode = true
